PORT=3003
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<database>
JWT_ACCESS_SECRET=replace-with-a-long-random-secret
JWT_REFRESH_SECRET=replace-with-a-different-long-random-secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=1d

# Judge0 configuration (free tier at RapidAPI)
JUDGE0_ENDPOINT=https://judge0-ce.p.rapidapi.com
JUDGE0_API_KEY= 57dd9c0a07msh8163e8d160d6510p18846fjsn598d570269d4
